<div class="row">
  <div class="col-md-8 offset-md-2" >
    <div class="tile">
        <h3 class="tile-title">Add Banner</h3>
      <div class="row">
        <div class="col-lg-12">
          <form novalidate autocomplete="off" #f="ngForm">
            <div class="form-group">
              <label for="heading">Banner Text</label>
              <ckeditor 
              name="bannertext" #bannertext="ngModel" [(ngModel)] ="title" class="form-control" required
   [config]="{uiColor: '#7dcec6'}" minlength="50" >
   </ckeditor>
             <small class="form-text text-muted" id="emailHelp">The heading of the banner</small>
            </div>
            <div class="alert alert-danger" *ngIf="bannertext.touched && bannertext.invalid">
              <p *ngIf="bannertext.errors.required">
                Banner title cannot be blank.
              </p>
            </div>
            <div class="form-group">
              <label for="Posted">Call To Action</label>
              <input class="form-control"  name="calltoaction"  #calltoaction="ngModel" [(ngModel)] ="cta" id="Posted" type="text"  required placeholder="Call to Action"><small class="form-text text-muted" id="emailHelp">paste the link of the product</small>
            </div>
            <div class="alert alert-danger" *ngIf="calltoaction.touched && calltoaction.invalid">
              <p *ngIf="calltoaction.errors.required">Posted by cannot be blank.</p>
            </div>
         
            <div class="form-group">
              <label for="exampleInputFile">Upload Banner Image </label>
              <button class="form-control btn btn-lg btn-primary" #btn (click)="selectfile.click()">Select File</button>
              <input class="form-control-file" style="visibility: hidden;" required accept="image/png, image/jpeg, image/gif, image/svg, image/jpg"  (change)="selectImage($event)" #selectfile id="exampleInputFile" type="file" name="image" #image="ngModel" ngModel aria-describedby="fileHelp"><small class="form-text text-muted" id="fileHelp">The Image will be displayed on banner</small>
            </div>
            <div class="alert alert-primary" *ngIf="image.invalid">
              <p *ngIf="image.errors.required">Selecting Banner image is mandatory.</p>
            </div>
            <div class="card mb-3 border-danger" *ngIf="!bannerImage !== '' && bannerImage">
              <div class="card-body">
                <blockquote class="card-blockquote">
                  <p>You have selected this image.</p>
                  <img [src]="bannerImage" style="width: 100%">
                </blockquote>
              </div>
            </div>
           
     
      
          </form>
        </div>
   
      </div>
      <div class="tile-footer">
        <button class="btn btn-primary" type="submit" (click)="addbanner()" [disabled]="f.invalid">Submit</button>
      </div>
    </div>
  </div>
</div>
