<section class="material-half-bg">
  <div class="cover"></div>
</section>
<section class="login-content">
  <div class="logo">
    <h1>SWICN</h1>
  </div>
  <div class="login-box">
    <form class="login-form" #f="ngForm" novalidate autocomplete="off">
      <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
      <div class="form-group">
        <label class="control-label">Email</label>
        <input class="form-control" type="text" required name="email" #email="ngModel" [(ngModel)]="uemail" placeholder="Email" autofocus pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$">
      </div>
      <div class="errors" *ngIf="email.touched && email.invalid">
        <p *ngIf="email.errors.required">
         Email Cannot be blank
        </p>
        <p *ngIf="email.errors.pattern">
        Email is not valid
        </p>
      </div>
      <div class="form-group">
        <label class="control-label">PASSWORD</label>
        <input class="form-control" type="password" required  name="pass" #pass="ngModel" [(ngModel)]="upass" placeholder="Password" [(ngModel)]="upass" >
      </div>
      <div class="errors" *ngIf="pass.touched && pass.invalid"> 
        <p *ngIf="pass.errors.required">
          Password field cannot be blank.
        </p>
      </div>

      <div class="form-group btn-container">  
        <button class="btn btn-primary btn-block" [disabled]="f.invalid" (click)="login()"><i class="fa fa-sign-in fa-lg fa-fw" ></i>SIGN IN</button>
      </div>
    </form>

  </div>
</section>